.centerPanel {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.documentContainer {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  box-shadow: 0 0 1px black inset;
  /* background-color: var(--secondary); */
  /* margin: 3px; */
  /* margin-top: 2px; */
}
