.container {
  height: 100%;
  /* height: 100%;
  overflow-y: auto;
  text-align: left; */
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  overflow-y: auto;
}

.layerRow {
  border-bottom: 1px solid #3a3a3a;
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: center;
}

.thumb {
  width: 48px;
  height: 32px;
  background-color: black;
  margin: 8px;
}

.visibility {
  padding: 8px;
  border-right: 1px solid #3a3a3a;
  /* align-self: stretch; */
  align-items: center;
  display: flex;
}

.selected {
  background-color: rgba(255, 255, 255, 0.125);
}
